* {
    margin: 0;
    padding: 0;
}
body {
   font-family: Poppins;
   color: white;
}
.master-containter {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    background-image: url(images/bg-intro-desktop.png);
    background-color: hsl(0, 100%, 74%);
    background-repeat: repeat;
}
.form-banner-container {
    grid-area: 1 / 2 / 2 / 3;
    padding: 35% 0% 10% 0%;
    right: 7%;
    position: relative;
    width: 50%;
}
.form {
    background-color: white;
    border-radius: 10px;
    margin-top: 5%;
    width: 100%;
    height: 40vh;
    display: flex;
    flex-direction: column;

}
.input {
    width: 60%;
    border-radius: 5px;
    border-color: rgb(164, 164, 164);
    padding: 15px 0px 15px 20px;
    margin: 25px 0px 0px 60px;
    display: flex;
}
.main-text {
    grid-area: 1 / 1 / 2 / 2;
    width: 80%;
    padding: 40% 0 10% 30%;
}
h1 {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 60px;
    width: 100%;
    line-height: 65px;
}
.main-text p {
    font-size: 16px;
    font-weight: 400;
    width: 70%;
}
.freeTrial-banner {
    display: flex;
    width: 100%;
    height: 50px;
    justify-content: center;
    align-items: center;
    background-color: hsl(248, 32%, 49%);
    border-radius: 10px;
    box-shadow: 0px 8px hsla(249, 10%, 26%, 0.356);
}
.freeTrial-banner p {
    font-weight: 600;
    font-size: 16px;
}
.no-bold {
    font-weight: 400 !important;
}

.terms {
    color: rgb(164, 164, 164);
    font-weight: 500;
}