* {
    margin: 0;
    padding: 0;
}
body {
    background-color:midnightblue
}
.boton {
    color: black !important;
    background-color:snow;
    width: 85%;
    border-radius: 5px;
    padding: 15px 0px 15px 20px;
    margin: 5% 0px 15px 40px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-weight: 500;
    font-size: 16px;
    cursor:pointer;
    text-align: center;
}
a,
a:link,
a:visited,
a:focus,
a:hover,
a:active {
  text-decoration: none;
  cursor: pointer;
}